.navbar {
    background-color: rgba(40, 40, 40, 0.95); /* Color de fondo de la barra de navegación */
    overflow: hidden;
  }
  
  .navbar a {
    float: left; /* Alinea los elementos de la barra de navegación en línea */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #FFA500; /* Cambia el color de fondo al pasar el ratón sobre un enlace */
    color: black;
  }
  
  .navbar ul {
    list-style-type: none; /* Elimina los puntos de lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    display: inline;
  }